<?xml version='1.0' encoding='utf-8'?>
<widget id="com.linuxcore.vokabeltrainer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>QuickVocab</name>
    <description>One UI 8 Vokabeltrainer mit persistenter Benachrichtigungsleiste.</description>
    <author email="info@linuxcore.com" href="http://linuxcore.com">QuickVocab Team</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="LogLevel" value="DEBUG" />
    <!-- Verhindert Scrollen der App-Oberfläche für nativeres UI-Gefühl -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff121212" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidXEnabled" value="true" />
        
        <!-- Wichtig für moderne Android Versionen (SDK 33+), um Push-Rechte zu bekommen -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </config-file>
    </platform>

    <!-- Plugins für Systemfeatures und Benachrichtigungen -->
    <plugin name="cordova-plugin-local-notifications" spec="^1.3.0" />
    <plugin name="cordova-plugin-device" spec="^3.0.0" />
</widget>